button,
input,
select,
textarea
/* [role='button']  */ {
  -webkit-app-region: no-drag;
}

#webpack-dev-server-client-overlay {
  -webkit-app-region: no-drag;
}

html:is([data-active='false'], [data-dragging='true']) * {
  -webkit-app-region: no-drag !important;
}

html[data-active='false']:has([data-translucent='true']) {
  opacity: 0;
  transition: opacity 0.2s 0.1s;
}

html[data-active='true']:has([data-translucent='true']) {
  opacity: 1;
  transition: opacity 0.2s;
}

/**
 * Disable animations and transitions when on battery.
 * We use :not(.playwright-test) to ensure tests (which rely on animations) don't break.
 */
body.on-battery:not(.playwright-test) * {
  animation-duration: 0ms !important;
  transition-duration: 0ms !important;
}
